*{
    margin: 0;
    padding: 0;
}

#logo img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    padding: 10px;

}

#logo{
    margin: 0 20px;

}


#navbar{
   
    display: flex;
    align-items: center;
    position: sticky;
    font-family: 'Merriweather', serif;
}


#navbar ul{
    display: flex;
    align-items: center;
}
#navbar ul li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;   
}

#navbar ul li a{
   display: block;
   text-decoration: none;
   padding: 10px 10px;
   margin: 10px;
   border-radius: 100%;
   color: black;
}

#navbar ul li a:hover{
    background-color: whitesmoke;
    color: cornflowerblue;
 }

 #home{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 3px 50px;
     height: 620px;
    
 }

 #home::before{
    content: "";
    position: absolute;
    background: url(pexels-askar-abayev-5638639.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
 }

  h1{
     font-size: 3.4rem;
     text-align: center;
     padding: 15px;
     font-family: 'Merriweather', serif;
     color: #091353;
 }

  .para1{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;

 }
 .btn{
     padding: 6px 20px;
     background-color: cadetblue;
     font-size: 1.5rem;
     border-radius: 20px;
     border: 2px solid white;
     margin-top: 30px;
 }
 .btn:hover{
     background-color: white;
     cursor: pointer;
 }

 h2{
     font-size: 2.2 rem;
     text-align: center;
     padding: 10px;
 }
 .h-serv{
     font-size: 2.8rem;
     margin-top: 10px;
 }

 #services{
     display: flex;
     margin: 20px 30px;
     justify-content: center;
     text-align: center;
 }
  #services .box{
      padding: 10px;
      margin: 6px 40px;
      border: 4px solid grey;
      border-radius: 20px;
      line-height: 2;
      text-align: center;
  }
     
 #services .box img{
     height: 200px;
     width: 230px;
     display: block;
     margin: auto;
     border-radius: 30px;
     padding: 0 20px;
 }
   
 .para-set{
     font-size: 1.2rem;
     font-family: 'Playfair Display', serif;
 }

 .contact{
     height: 500px;
     position: relative;
     display: flex;
     
     align-items: center;
 }
 .form-set{
     padding: 25px;
     margin: 100px;
     font-size: 30px;
 }
 input{
     font-size: 25px;
     margin: 5px 10px;
 }
 
 .contact::before{
    content: "";
    position: absolute;
    background: url(contact1.jpeg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;
 }

 .footer{
     background: black;
     color: white;
     font-size: 15px;
     text-align: center;
     padding: 30px;
 }

 .submitt{
     padding: 5px;
     border-radius: 10px;
     font-size: 20px;
 }
 
